<div id="crumbs"{% if not crumbs %} class="empty"{% endif %}>
    <button type="button" id="nav-toggle" aria-label="{{ 'Show nav'|t('app') }}"></button>
    {% if crumbs %}
        <nav>
            <ul>
                {% for crumb in crumbs %}
                    <li><a href="{{ crumb.url }}">{{ crumb.label }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
</div>
